# ===========================================
# DEPENDENCIES
# ===========================================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ===========================================
# TESTING & COVERAGE
# ===========================================
coverage/
*.spec.js
*.spec.ts

# ===========================================
# NEXT.JS BUILD OUTPUT
# ===========================================
.next/
out/
.vscode/

# ===========================================
# PRODUCTION / BUILD ARTIFACTS
# ===========================================
build/
dist/

# ===========================================
# ENVIRONMENT FILES
# ===========================================
.env
.env.*
!.env.example

# ===========================================
# LOGS & DEBUG FILES
# ===========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# ===========================================
# MISC FILES
# ===========================================
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# ===========================================
# HOSTING / DEPLOYMENT CONFIGS
# ===========================================
# Vercel / Cloudflare
.vercel/
.wrangler/
.cloudflare/
.wrangler/
.tmp/
.cache/

# ===========================================
# LOCAL SETTINGS
# ===========================================
.idea/
*.swp