.process {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.lead {
  padding-bottom: 20px;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pMedia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
