.fixedButtons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  z-index: 9999;
}

.fixedBtn {
  display: flex;
  align-items: center;
  background: transparent;
  color: #fff;
  border-radius: 100px;
  text-decoration: none;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.fixedBtn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  padding: 8px;
  margin-bottom: 0;
  background: transparent;
  overflow: visible;
  border: none;
}

.label {
  display: flex;
  font-size: 20px;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0;
  padding: 0;
  transition: max-width 0.5s ease-in, padding 0.5s ease-in-out, opacity 0.5s ease-in;
}

.fixedBtn:hover .label {
  display: flex;
  padding-right: 10px;
  max-width: 200px;
  opacity: 1;
}

/* Responsive adjustments */
@media (max-width:980px) {
  .fixedButtons {
    position: fixed;
    bottom: 20px !important;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    z-index: 9999;
  }
}